.home-page .search-section .input-section {
  display: flex;
  align-items: center;
  padding: 10px 45px;
  border-left: #FF8A50 solid 5px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301); }
  .home-page .search-section .input-section input {
    outline: none;
    font-size: 18px;
    width: 90%;
    border: none;
    margin: 0px 12px; }

.home-page .search-section .card-slot-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.home-page .partners-section ul {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301); }

.home-page .about-us-section article {
  display: flex; }

@media only screen and (max-width: 600px) {
  .home-page .about-us-section article {
    display: flex;
    flex-direction: column; }
    .home-page .about-us-section article p {
      margin-bottom: 1rem; } }
