.footer {
  color: white;
  padding: 2rem;
  background: #2C2C2C; }
  .footer .navigation-section {
    color: gray;
    margin: 40px;
    display: flex;
    justify-content: space-evenly; }
    .footer .navigation-section article h4 {
      font-size: 18px;
      font-weight: 700; }
    .footer .navigation-section article ul li {
      list-style: none; }
  .footer .copyright {
    text-align: center; }
